target
*~
*.swp
*.swo
Makefile
_build
vendor
*.gresource
.vscode

# Files configured by meson
fractal-gtk/src/config.rs

subprojects/*
!subprojects/*.wrap

# Files created by Flatpak
.flatpak-builder/
fractal/
*.flatpak
